body {
  font-family:"Helvitica", sans-serif;
  color: black;
  text-align: center;
  background-color: white;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
}

h3 {
  text-size: 23px;
}

p {
  text-size: 14px;
}

nav {
  font-size: 18px;
}

nav a {
  color: white;
}

li {
  text-decoration: none;
  list-style: none;
}

.banner-background {
  background-image: url(../images/the-flatiron-building.png);
  color: white;
}

.footer {
  font-size: 11px;
  color: white;
  text-align: left;
  background-color: dimgray;
}

.footer a {
  color: white;
  font-size: 16px;
}
